body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tangerine', cursive;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 201, 119, 0.671);
}

.quote {
  margin: 0 100px;
  font-size: 100px;
}

.author {
  margin-right: 100px;
  margin-left: auto;
  font-size: 70px;
}

.error {
  font-size: 100px;
}
