body {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 201, 119, 0.671);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tangerine', cursive;
  width: 100%;
  height: 100%;
}

.quote {
  margin: 100px 100px 0;
  font-size: 100px;
}

.loading {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.author {
  margin: 0;
  margin-right: 100px;
  font-size: 70px;
  line-height: 100px;
}

.error {
  position: absolute;
  font-size: 100px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: transparent;
  width: 200px;
  height: 100px;
  font-family: 'Tangerine', cursive;
  font-size: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 100px 0;
}
